<!--
  SPDX-FileCopyrightText: Copyright (C) 2026 Thomas Steinke
  SPDX-License-Identifier: AGPL-3.0-or-later
-->
<header class="print-header">
    <div class="print-header__tournament-name">{{tournamentName}}</div>
    <div class="print-header__meta">
        {{#tournamentDate}}<span>{{msgDateLabel}}: {{tournamentDate}}</span>{{/tournamentDate}}
        {{#phaseName}}<span style="margin-left:12px;">{{msgPhaseLabel}}: {{phaseName}}</span>{{/phaseName}}
    </div>
</header>
