<!--
  SPDX-FileCopyrightText: Copyright (C) 2026 Thomas Steinke
  SPDX-License-Identifier: AGPL-3.0-or-later
-->
{{<print/print-layout}}
{{$content}}
<main class="print-error-main">
    <h2 class="print-error-heading">{{heading}}</h2>
    <p class="print-error-message">{{msgNoMatches}}</p>
</main>
{{/content}}
{{$footer}}{{/footer}}
{{/print/print-layout}}
