<!--
  SPDX-FileCopyrightText: Copyright (C) 2026 Thomas Steinke
  SPDX-License-Identifier: AGPL-3.0-or-later
-->
{{<print/print-layout}}
{{$content}}
<main class="laufzettel-main">
    {{> print/_laufzettel-schedule}}
</main>
{{/content}}
{{$footer}}{{/footer}}
{{/print/print-layout}}
