<!--
  SPDX-FileCopyrightText: Copyright (C) 2026 Thomas Steinke
  SPDX-License-Identifier: AGPL-3.0-or-later
-->
<!DOCTYPE html>
<html lang="{{locale}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{cssPath}}">
</head>
<body class="print-body">

{{> print-header}}

<main class="print-error-main">
    <h2 class="print-error-heading">{{heading}}</h2>
    <p class="print-error-message">{{msgNoMatches}}</p>
</main>

</body>
</html>
